# Виртуальное окружение
.venv/

# PyInstaller — артефакты сборки
build/
dist/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE / OS
.DS_Store
*.code-workspace
.idea/
.vscode/

# uv
# uv.lock коммитим — он фиксирует точные версии
